@use "../custom";

.main-color {
    background: var(--main-color);
}

.body-bg {
    background: linear-gradient(to top left, #212529, #358b9a, #454d55),
        radial-gradient(circle, #315d36, transparent);
    background-blend-mode: overlay;
}

#main-body {
    height: 100vh !important;
}