@use "../custom";

@media (max-width: 760px) {
    .home-btn {
        font-size: small !important;
        padding: 2px;
    }

    .nav-title {
        font-size: large !important;
    }
}

.navbar-styling {
    background-color: var(--bs-light);
    box-shadow: 0 2px 35px rgba(0, 0, 0);
}

.home-btn {
    font-size: medium;
    padding: 5px;
}
