$body-bg: #ffffff;

$primary: #1d3557;
$secondary: #334155;
$danger: #e63946;
$success: #237263;
$info: #a8dadc;
$light: #f1faee;

:root {
    --main-color: #0F3840;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss"