$body-bg: #ffffff;
$primary: #1d3557;
$secondary: #334155;
$danger: #d43240;
$success: #237263;
$info: #a8dadc;
$light: #ededed;
$dark: #2c323a;

:root {
  --main-color: #0f3840;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
